<div class="mainContainer">
  <head>
    <mat-icon  (click)="this.GoBack2()">keyboard_backspace</mat-icon>
  </head>
  <ion-img src="../../../../assets/img/download.jpg"></ion-img>
  <p>{{history.bookTitle}}</p>
  <p>{{history.bookAuthor}}</p>
  <div>
  <button (click)="like(history.id)" *ngIf="!history.liked"><mat-icon>star</mat-icon> Like</button>
  <button (click)="unlike(history.id)" *ngIf="history.liked"><mat-icon>star</mat-icon> unlike</button>
  </div>
  <div>
    <button (click)="addToLibrary(history.id)"><mat-icon>library_add</mat-icon> Add To Libaray</button>
  </div>
  <div>
    <button (click)="openBook(history.id)">Read</button>
  </div>
</div>

