<div class="container">
  <div class="book" (click)="openBook(1)">
    <div class="ImgContainer"><ion-img src="../../../../assets/img/download.jpg"></ion-img></div>
    <div class="bookTitle">Think Fast n Slow</div>
    <div class="bookAuthor">Banana</div>
    <div class="bookGenre">Self Imporovement, Self Imporovement, Self Imporovement</div>
  </div>
  <div class="book" (click)="openBook(2)">
    <div class="ImgContainer"><ion-img src="../../../../assets/img/download.jpg"></ion-img></div>
    <div class="bookTitle">Think Fast n Slow</div>
    <div class="bookAuthor">Banana</div>
    <div class="bookGenre">Self Imporovement</div>
  </div>
  <div class="book" (click)="openBook(3)">
    <div class="ImgContainer"><ion-img src="../../../../assets/img/download.jpg"></ion-img></div>
    <div class="bookTitle">Think Fast n Slow</div>
    <div class="bookAuthor">Banana</div>
    <div class="bookGenre">Self Imporovement</div>
  </div>
  <div class="book" (click)="openBook(4)">
    <div class="ImgContainer"><ion-img src="../../../../assets/img/download.jpg"></ion-img></div>
    <div class="bookTitle">Think Fast n Slow</div>
    <div class="bookAuthor">Banana</div>
    <div class="bookGenre">Self Imporovement</div>
  </div>
  <div class="book" (click)="openBook(5)">
    <div class="ImgContainer"><ion-img src="../../../../assets/img/download.jpg"></ion-img></div>
    <div class="bookTitle">Think Fast n Slow</div>
    <div class="bookAuthor">Banana</div>
    <div class="bookGenre">Self Imporovement</div>
  </div>
  <div class="book" (click)="openBook(6)">
    <div class="ImgContainer"><ion-img src="../../../../assets/img/download.jpg"></ion-img></div>
    <div class="bookTitle">Think Fast n Slow</div>
    <div class="bookAuthor">Banana</div>
    <div class="bookGenre">Self Imporovement</div>
  </div>
</div>
