<div class="container">
  <div class="book" (click)="getHistoryId(1)">
    <div class="ImgContainer"><ion-img src="../../../../assets/img/download.jpg"></ion-img></div>
    <div class="bookTitle">Think Fast n Slow</div>
    <div class="bookAuthor">Banana</div>
    <div class="bookGenre">Self Imporovement, Self Imporovement, Self Imporovement</div>
  </div>
  <div class="book" (click)="getHistoryId(2)">
    <div class="ImgContainer"><ion-img src="../../../../assets/img/download.jpg"></ion-img></div>
    <div class="bookTitle">Think Fast n Slow</div>
    <div class="bookAuthor">Banana</div>
    <div class="bookGenre">Self Imporovement</div>
  </div>
  <div class="book" (click)="getHistoryId(3)">
    <div class="ImgContainer"><ion-img src="../../../../assets/img/download.jpg"></ion-img></div>
    <div class="bookTitle">Think Fast n Slow</div>
    <div class="bookAuthor">Banana</div>
    <div class="bookGenre">Self Imporovement</div>
  </div>
  <div class="book" (click)="getHistoryId(4)">
    <div class="ImgContainer"><ion-img src="../../../../assets/img/download.jpg"></ion-img></div>
    <div class="bookTitle">Think Fast n Slow</div>
    <div class="bookAuthor">Banana</div>
    <div class="bookGenre">Self Imporovement</div>
  </div>
  <div class="book" (click)="getHistoryId(5)">
    <div class="ImgContainer"><ion-img src="../../../../assets/img/download.jpg"></ion-img></div>
    <div class="bookTitle">Think Fast n Slow</div>
    <div class="bookAuthor">Banana</div>
    <div class="bookGenre">Self Imporovement</div>
  </div>
  <div class="book" (click)="getHistoryId(6)">
    <div class="ImgContainer"><ion-img src="../../../../assets/img/download.jpg"></ion-img></div>
    <div class="bookTitle">Think Fast n Slow</div>
    <div class="bookAuthor">Banana</div>
    <div class="bookGenre">Self Imporovement</div>
  </div>
  <app-synopsis [GoBack2]="myCallBackFunction2" [history]="historyValue" [hidden]="!selectedHistoryItem"></app-synopsis>
</div>
